@import "./base.css";
@import "./px2rem.scss";

#app {
  width:100vw;
  height:100vh;
  overflow: hidden;
  margin: 0 auto;
  display: grid;
}

a{
  text-decoration: none;
  color: var(--black-mute);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover{
    color: var(--primary);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-rows:px2rem(80) 1fr /*30vh*/;
    grid-template-columns:px2rem(100) 1fr minmax(auto, 1280px) 1fr;
    grid-template-areas:
      "header header header"
      "leftside body body";
      /* "footer footer footer"; */
  }
}

ul{
  list-style: none;
}

